fastapi==0.110.0
uvicorn==0.27.1
edge-tts==7.2.8
python-dotenv==1.0.1
pydantic==2.6.3
pydantic-settings==2.2.1
python-multipart==0.0.9
aiofiles==23.2.1
loguru==0.7.2
pydub==0.25.1
aiohttp==3.9.5
imageio-ffmpeg==0.6.0
